.hero-contact{
  background-image: url('../img/banner-contact.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}

.contact-content{
  background-color: $grey;
  margin: $spacing-large;
  padding: $spacing-medium;
}

.map{
  width:100%;
  height: em-calc(400);

}
