// Minion Bold
@font-face {
	font-family: 'Minion Pro Bold';
	src: url('MinionPro-Bold.eot');
	src: url('MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('MinionPro-Bold.woff2') format('woff2'),
		url('MinionPro-Bold.woff') format('woff'),
		url('MinionPro-Bold.ttf') format('truetype'),
		url('MinionPro-Bold.svg#MinionPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

// Myraid Pro
@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Regular.eot');
	src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Regular.woff') format('woff'),
		url('MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Myriad Pro Bold
@font-face {
	font-family: 'Myriad Pro Bold';
	src: url('MyriadPro-Bold.eot');
	src: url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Bold.woff2') format('woff2'),
		url('MyriadPro-Bold.woff') format('woff'),
		url('MyriadPro-Bold.ttf') format('truetype'),
		url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
