h1{
  font-size: em-calc(32);
  font-family: $serif;
  font-color: $black;
  text-transform: capitalize;
}

h2{
  font-size: em-calc(26);
  font-family: $serif;
  font-color: $black;
  text-transform: capitalize;
}

h3{
  font-size: em-calc(20);
  font-family: $serif;
  font-color: $black;
  text-transform: capitalize;
}

p{
  font-size: em-calc(16);
  font-family: $sans-serif;
  font-color: $black;
  line-height: 140%;
}
